.nav-top {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top-right {
  display: flex;
}

.nav-top button {
  border: none;
  background-color: white;
  padding: 1em;
}

.nav-bottom {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: auto;
}

.nav-menu li {
  padding: 1.5em;
}

.nav-search {
  border-bottom: 1px solid black;
}

.nav-search input {
  border: none;
}

.card-img {
  width: 100%;
}

.icon {
  margin-right: 0.5em;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
